[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
djongo = "*"
dnspython = "*"
djangorestframework = "*"
django-cors-headers = "*"
pymongo = "==3.12.3"
firebase-admin = "*"

[dev-packages]

[requires]
python_version = "3.10"
